body{
  padding: 0;
  margin: 0;
}

nav {
  position: absolute;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100vh;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0 1rem;
  border: 1px solid gray;
}
