nav {
  position: fixed;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  background-color: #436d53;
  flex-direction: column;
  border: 1px solid rgb(29, 27, 27);
  height: 100vh;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(27, 26, 26);
  text-decoration: none;
  padding: 0 1rem;
  width: 20px;
  height: 50px;
  border-bottom: 1px solid rgb(37, 36, 36);
  transition: 0.2s;
}

nav a i {
  font-size: 22px;
}

nav a:hover {
  background-color: #648b66;
  color: rgb(216, 208, 208);
}
