.table-content:nth-child(even){
  background-color: #d5dbec;
  color: #fff;
}

.table-content:nth-child(odd){
  background-color: #faf9f9;
}

.table-content:nth-child(odd):hover{
  background-color: #e7e5e5;
  cursor: pointer;
}

.table-content:nth-child(even):hover{
  background-color: #cbd2e0;
  cursor: pointer;
}

