body{
  padding: 0;
  margin: 0;
  background-color: #648b66;
}

.cadastro-main-div{
  width: 96%;
  margin: 0 auto;
}

.add-div-group{
  width: 94% !important;
  padding: 2% 2% 0 2% !important;
  margin-right: 17.8% !important;
}