body{
  padding: 0;
  margin: 0;
  background-color: #648b66;
}

.cadastro-main-div{
  width: 96%;
  margin: 0 auto;
}

.add-div-group{
  padding: 2% 2% 0 0.8% !important;
}

#content-wrapper{
  min-height: calc(100vh - 56px);
  margin-left: 14rem;
}

@media screen and (max-width: 767.98px) {
  #content-wrapper{
    min-height: calc(100vh - 56px);
    margin-left: 6.5rem;
  }
}

.small-footer{
  margin-top: 20px !important;
  height: 0px !important;
}